body{
  font-family: "Montserrat",sans-serif;
  text-align: center
}

.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

/* Sections  */
.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color: white
}

.colored-section#press,#testimonials{
  background-color: #ef8172;
}


/* Edits the position of the bar elements */


.navbar-nav{
  padding-right: 10rem;
}

.nav-link{
  margin: auto 1rem auto 1rem;
}

.title-image{
  width: 300px;
  transform: rotate(25deg);
  position: absolute;
}

#features i{
  font-size: 5rem;
  color: #ef8172;
  line-height: 1.5;
  margin-top: 4rem;
}

#features i:hover{
  color: #ff4c68
}

#features{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 1 /*  not necessary */
}


a{
  font-size: 1.3rem;
}

.starting-button{
  margin: auto 10px auto 10px;
  font-weight: bold
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold
}

p{
  color:#8f8f8f;
  padding-left: 15%;
  padding-right: 15%;
}

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* Testimonial section */


.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 15px;
}

#press{
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}


/*pricing section */

.pricing-text{
  font-size: 3.5rem;
  line-height: 1.5;
}

.pricing-col{
  padding: 3% 2%;
  font-family: 'Montserrat', sans-serif;
}

.plan-button{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#pricing{
  padding: 100px;
}

.prbutton-margin{
  margin-bottom: 57px;
}

@media (max-width: 1200px){

  #title {
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}

/* Call to action  */

.cta-text{
  margin: 0 auto 3.5rem auto;
  font-size: 3.5rem;
  font-weight: bold;
  width: 50%;
  line-height: 1.5
}

/* Social media icons */

#footer{
  font-size: 1rem;
}

.icons{
  margin: 0 1rem 1.5rem 1rem;
}
